.about {
  @include wrapper-padding;
  margin-bottom: 35px;
  // 38

  color: $color-primary;
}


.about__title {
  @include reset-title-style;

  margin-bottom: 22px;
}

.about__list {
  @include reset-list-style;
}

.about__item {
  position: relative;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  @media (max-width: $s-width-max) {
    padding-top: 63px;
    padding-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 47px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-size: 32px 37px;
  }

  &--scandi::before {
    background-image: url("../img/icon-feature-money.svg");
    background-size: 47px 27px;
    background-position-y: top;
  }

  &--likes::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-size: 34px 27px;
  }

  &--handworked::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-size: 35px 34px;
  }

  &--local::before {
    left: -5px;
    top: 5px;
    width: 55px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-size: 55px 23px;
  }

  &--wrapped::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-size: 33px 32px;
  }
}

@media (min-width: $m-width) {
  .about {
    @media (max-width: $m-width-max) {
      margin-bottom: 53px;
    }
  }

  .about__title {
    @include reset-title-style-m;

    @media (max-width: $m-width-max) {
      margin-top: 48px;
    }
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 300px;
    margin-right: 34px;
    padding-top: 81px;
    padding-bottom: 30px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }

    &::before {
      top: 25px;
    }
  }
}

@media (min-width: $l-width) {
  .about {
    padding-left: calc(#{$l-width-padding-left} + #{$l-width-padding});

    margin-bottom: 60px;
  }

  .about__title {
    @include reset-title-style-l;

    margin-top: 60px;
  }

  .about__item {
    width: 316px;
  }
}
