.about {
  @include wrapper-padding;
  padding-top: 5px;
  margin-bottom: 38px;

  color: $color-primary;
}


.about__title {
  @include reset-title-style;

  margin-bottom: 20px;
}

.about__list {
  @include reset-list-style;
}

.about__item {
  padding-top: 63px;
  padding-bottom: 20px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
}

@media (min-width: $m-width) {
  .about__title {
    @include reset-title-style-m;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 300px;
    margin-right: 34px;
    font-size: 20px;
    line-height: 22px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

@media (min-width: $l-width) {
  .about {
    padding-left: calc(#{$l-width-padding-left} + #{$l-width-padding});
  }

  .about__title {
    @include reset-title-style-l;
  }

  .about__item {
    width: 316px;
  }
}
