.actual-list {
  @include reset-list-style;

  overflow: hidden;
}

.actual-list__link {
  @include reset-link-style;
  display: inline-block;
  width: 100%;

  &:hover,
  &:focus {
    color: transparentize($color-primary, 0.4);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $l-width) {
  .actual-list {
    display: flex;
    max-width: 700px;
  }

  .actual-list__item {
    display: flex;
    align-items: center;

    min-height: 65px;
  }

  .actual-list__link {
    width: 185px;
    padding-bottom: 3px;

    font-size: 15px;
  }

  .actual-list__item:not(:first-child) {
    padding-left: 35px;
  }
}
