.article {
  @include wrapper-padding;
}

.article__item {
  display: flex;
  flex-direction: column;

  border: 1px solid $color-newtral-medium;

  @include block-shadow;
}

.article__title {
  @include reset-title-style;
  @include title-h3;

  margin-top: 23px;
  padding: 0 34px 24px 90px;
}

.article__video {
  margin-bottom: 18px;
}

.article__lead {
  margin: 0 0 25px 0;
  padding: 0 34px;

  font-size: 13px;
  line-height: 24px;
}

.article__more-button {
  margin: 0 33px 33px 33px;
  width: calc(100% - 66px);
}

@media (min-width: $m-width) {
  .article__video {
    order: -1;

    width: 668px;
    height: 455px;
  }
}

@media (min-width: $l-width) {
  .article__item {
    align-items: flex-end;
    justify-content: space-between;

    min-height: 455px;
    padding-right: 57px;
  }

  .article__title,
  .article__lead,
  .article__more-button {
    width: 230px;
  }

  .article__title {
    margin-top: -455px;
  }

  .article__video {
    align-self: flex-start;

    // временно
    background-color: grey;
  }
}
