.catalog-item {
  margin-bottom: 30px;

  border: 1px solid $color-newtral-medium;

  @include block-shadow;
}

.catalog-item__image {
  width: 260px;
  height: 195px;
}

.catalog-item__title {
  @include reset-title-style;
  @include title-h3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__container--description,
.catalog-item__container--shop {
  padding: 10px 30px;
}

.catalog-item__link {
  @include reset-link-style;
}

.catalog-item__description {
  font-size: 13px;
}

.catalog-item__container--shop {
  display: flex;
  align-items: center;
}


.catalog-item__price {
  flex-grow: 1;

  line-height: 24px;
  font-weight: 600;
  color: $color-primary;
}

.catalog-item__order {
  width: 24px;
  height: 24px;
}


@media (min-width: $m-width) {
  .catalog-item {
    @media (max-width: $m-width-max) {
      display: flex;
    }
  }

  .catalog-item__containter--info {
    @media (max-width: $m-width-max) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .catalog-item__image {
    @media (max-width: $m-width-max) {
      width: 334px;
      height: 334px;
    }
  }
}

@media (min-width: $l-width) {
  .catalog-item {
    width: 314px;
    margin-bottom: 0;
    margin-right: 51px;
  }

  .catalog-item__image {
    width: 316px;
    height: 463px;
  }
}
