.catalog-item {
  @media (max-width: $s-width-max) {
    margin-bottom: 30px;
  }

  border: 1px solid $color-newtral-medium;

  @include block-shadow;
}

.catalog-item__image {
  @media (max-width: $s-width-max) {
    margin-top: -1px;
    margin-left: -1px;
  }
  width: 260px;
  height: 195px;

  vertical-align: bottom;
}

.catalog-item__title {
  @include reset-title-style;
  @include title-h3;

  margin-top: 17px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__about {
  padding-top: 10px;

  @media (max-width: $s-width-max) {
    padding-bottom: 6px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.catalog-item__link {
  @include reset-link-style;
}

.catalog-item__description {
  margin-top: 5px;

  font-size: 13px;
}

.catalog-item__shop {
  display: flex;
  align-items: center;

  @media (max-width: $s-width-max) {
    padding-top: 7px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
  }

  // @media (max-width: $s-width-max) {
  box-shadow: 0 -31px 0 -#{$s-width-padding} $color-newtral-medium;
  // }
}

.catalog-item__price {
  flex-grow: 1;

  line-height: 24px;
  font-weight: 700;
  color: $color-primary;
}

.catalog-item__order {
  width: 20px;
  height: 24px;

  .catalog-item__order-icon {
    // fill: $color-newtral-medium;
    fill: transparentize($color-primary, 0.8);
  }

  &:hover,
  &:focus {
    .catalog-item__order-icon {
      fill: $color-accent;
    }
  }

  &:active {
    .catalog-item__order-icon {
      opacity: 0.3;
    }
  }
}


@media (min-width: $m-width) {
  .catalog-item {
    display: flex;

    @media (max-width: $m-width-max) {
      margin-bottom: 54px;
    }
  }

  .catalog-item__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: $m-width-max) {
      flex-basis: 100%;
    }
  }

  .catalog-item__image {
    @media (max-width: $m-width-max) {
      width: 334px;
      height: 334px;

      margin-top: -1px;
      margin-left: -1px;
      margin-bottom: -1px;
    }
  }

  .catalog-item__about {
    @media (max-width: $m-width-max) {
      padding-left: 30px;
      padding-right: 30px;
    }

    padding-bottom: 2px;
  }

  .catalog-item__title {
    font-size: 20px;
  }

  .catalog-item__shop {
    padding-top: 4px;
    padding-bottom: 10px;

    @media (max-width: $m-width-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media (min-width: $l-width) {
  .catalog-item {
    flex-direction: column;
    flex-shrink: 0;

    width: 314px;
    margin-bottom: 0;
    margin-right: 51px;
  }

  .catalog-item__image {
    width: 316px;
    height: 463px;

    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
  }
  // правила ниже временные -- проверить, нельзя ли оптимизировать!
  .catalog-item__description {
    margin-top: 3px;
    margin-bottom: 8;
  }

  .catalog-item__about {
    padding-left: 28px;
    padding-right: 28px;
  }

  .catalog-item__shop {
    padding-left: 26px;
    padding-right: 31px;
  }

  .catalog-item__container--shop {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
