.contacts {
  padding-top: 5px;

  @media (max-width: $s-width-max) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 38px;
  }
}

.contacts__container {
  @media (max-width: $s-width-max) {
    @include wrapper;
    @include wrapper-padding;
  }
}

.contacts__title {
  @include reset-title-style;

  margin-bottom: 26px;

  font-size: 18px;
}

.contacts__attributes-list {
  @include reset-list-style;

  margin-bottom: 36px;
}

.contacts__attributes-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.contacts__attribute-label {
  padding-right: 32px;
}

.contacts__email {
  @include reset-link-style;

  display: inline-block;

  border-bottom: 1px solid $color-accent-darker;

  &:hover,
  &:focus {
    color: $color-accent-darker-active;
    // Тут поправить цвет!
  }

  &:active {
    color: transparentize($color-accent-darker-active, 0.7);
    border-bottom: transparentize($color-accent-darker-active, 0.7);
  }
}

.contacts__map {
  width: 100%;
  min-height: 457px;
  margin-bottom: 39px;


  @media (max-width: $s-width-max) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
    background-size: 67px 100px, 322px 457px;
    background-position: 52% 40%, center;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
    }
  }
}

.contacts__feedback-button {
  @media (max-width: $s-width-max) {
    font-size: 18px;
  }
}


@media (min-width: $m-width) {
  .contacts {
    @include wrapper-padding;

    @media (max-width: $m-width-max) {
      padding-top: 34px;
      margin-bottom: 55px;
    }
  }

  .contacts__container {
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__title {
    @include reset-title-style-m;

    position: relative;

    margin-bottom: 48px;

    @media (max-width: $m-width-max) {
      padding-right: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-size: 47px 81px;

      @media (max-width: $m-width-max) {
        top: -15px;
        right: 2px;
      }
    }
  }

  .contacts__attributes-list {
    display: flex;
    align-items: flex-start;

    @media (max-width: $m-width-max) {
      margin-bottom: 58px;
    }
  }

  .contacts__attributes-item {
    display: flex;

    @media (max-width: $m-width-max) {
      width: 50%;
    }
  }

  .contacts__attribute-label {
    padding-right: 25px;
  }

  .contacts__attribute {
    padding-right: 20px;
  }


  .contacts__map {
    width: 768px;
    height: 457px;
    margin: 0 0 55px 0;
    padding: 0;

    @media (max-width: $m-width-max) {
      margin-left: -#{$m-width-padding};
      margin-right: -#{$m-width-padding};

      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
      background-size: 67px 100px, 768px 457px;
      background-position: 363px 140px, center;
      background-repeat: no-repeat, no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
      }
    }
  }

  .contacts__feedback-button {
    width: 230px;

    @media (max-width: $m-width-max) {
      margin: 0 auto;
    }
  }
}

@media (min-width: $l-width) {
  .contacts {
    margin-bottom: 105px;
    padding-left: calc(#{$l-width-padding-left} + #{$l-width-padding});
    padding-top: 72px;
  }

  .contacts__container {
    width: 320px;
  }

  .contacts__title {
    @include reset-title-style-l;

    margin-top: 72px;

    &::after {
      top: -10px;
      left: -107px;
    }
  }

  .contacts__attributes-list {
    flex-direction: column;
  }

  .contacts__attributes-item {
    width: 100%;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    // margin-top: -390px;
    margin-left: 350px;
    margin-top: -364px;

    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-size: 67px 100px, 525px 457px;
    background-position: 52% 40%, center;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__container--feedback {
    margin-top: -107px;
  }
}
