.customer-reviews {
  @include wrapper-padding;

  @media (max-width: $s-width-max) {
    margin-bottom: 52px;
  }
}

.customer-reviews__title {
  @include reset-title-style;

  margin-bottom: 23px;
}

.customer-reviews__list {
  @include reset-list-style;

  margin-bottom: 30px;
}

.customer-reviews__text {
  margin-bottom: 26px;
}


.customer-reviews__author {
  font-style: normal;
}

.customer-reviews__author-name {
  margin-bottom: 3px;

  line-height: 24px;
  font-weight: 600;
  color: $color-primary;
}

.customer-reviews__controls {
  margin-bottom: 38px;
}

.customer-reviews__button {
  @media (max-width: $s-width-max) {
    margin-bottom: 50px;
  }
}

@media (min-width: $m-width) {
  .customer-reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    // Временно
    background-color: $color-newtral-dark;

    @media (max-width: $m-width-max) {
      margin-bottom: 85px;
      padding-top: 78px;
    }
  }

  .customer-reviews__list {
    margin-bottom: 47px;
  }


  .customer-reviews__title {
    @include reset-title-style-m;

    @media (max-width: $m-width-max) {
      max-width: 450px;
    }

    margin: 0;
    padding-bottom: 8px;
    order: -2;
  }

  .customer-reviews__text {
    margin: 11px 0 58px 0;
  }

  .customer-reviews__author {
    @media (max-width: $m-width-max) {
      max-width: 450px;
    }
  }

  .customer-reviews__button {
    order: -1;

    width: 175px;
    margin-left: auto;
    margin-bottom: 33px;

    @media (max-width: $m-width-max) {
      margin-top: 2px;
    }
  }

  .customer-reviews__controls {
    margin: -107px 0 0 auto;
  }
}

@media (min-width: $l-width) {
  .customer-reviews {
    // padding-left: calc(#{$l-width-padding-left} + #{$l-width-padding});
    padding-left: $l-width-padding;
    padding-top: 72px;
    padding-bottom: 48px;
    margin-bottom: 90px;
  }

  .customer-reviews__title {
    @include reset-title-style-l;

    max-width: 650px;
    padding-left: $l-width-padding-left;
  }

  .customer-reviews__list {
    padding-left: $l-width-padding-left;
  }

  .customer-reviews__text {
    margin-bottom: 38px;
  }

  .customer-reviews__author {
    max-width: 650px;
  }

  .customer-reviews__button {
    margin-top: 10px;
  }
}
