.customer-reviews {
  @include wrapper-padding;
  @include wavy-line;

  @media (max-width: $s-width-max) {
    margin-bottom: 52px;

    &::after {
      bottom: -50px;
    }
  }
}

.customer-reviews__title {
  @include reset-title-style;

  margin-bottom: 23px;
}

.customer-reviews__list {
  @include reset-list-style;

  margin-bottom: 30px;
}

.customer-reviews__text {
  margin-bottom: 28px;
}


.customer-reviews__author {
  font-size: 17px;
  font-style: normal;
}

.customer-reviews__author-name {
  margin-bottom: 3px;

  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
  color: $color-primary;
}

.customer-reviews__controls {
  margin-bottom: 38px;
}

.customer-reviews__button {
  @media (max-width: $s-width-max) {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media (min-width: $m-width) {
  .customer-reviews {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    @media (max-width: $m-width-max) {
      margin-bottom: 85px;
      padding-top: 78px;
    }

    &::after {
      // content: "";
      // position: absolute;
      //
      @media (max-width: $m-width-max) {
        bottom: -85px;
        // left: 0;
        // width: $m-width;
        // height: 16px;
      }

      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: contain;

      transform: scale(1, -1);
    }
  }

  .customer-reviews__list {
    margin-bottom: 47px;
  }


  .customer-reviews__title {
    @include reset-title-style-m;

    @media (max-width: $m-width-max) {
      max-width: 450px;
    }

    margin: 0;
    padding-bottom: 8px;
    order: -2;
  }

  .customer-reviews__text {
    margin: 11px 0 56px 0;
  }

  .customer-reviews__author {
    @media (max-width: $m-width-max) {
      max-width: 450px;
    }
  }

  .customer-reviews__author-name {
    @media (max-width: $m-width-max) {
      font-size: 18px;
    }
  }

  .customer-reviews__button {
    order: -1;

    width: 175px;
    margin-left: auto;
    margin-bottom: 33px;

    @media (max-width: $m-width-max) {
      margin-top: 2px;
    }
  }

  .customer-reviews__controls {
    margin: -100px 0 0 auto;
  }
}

@media (min-width: $l-width) {
  .customer-reviews {
    padding-left: $l-width-padding;
    padding-top: 70px;
    padding-bottom: 48px;
    margin-bottom: 88px;

    background-position: 50px 0;

    &::after {
      bottom: -88px;
      // left: $l-width-padding;

      // width: calc(#{$l-width} - #{$l-width-padding} * 2);
      // height: 22px;
    }
  }

  .customer-reviews__title {
    @include reset-title-style-l;

    max-width: 650px;
    padding-left: $l-width-padding-left;
  }

  .customer-reviews__list {
    padding-left: $l-width-padding-left;
  }

  .customer-reviews__text {
    max-width: 800px;
    margin-bottom: 38px;
  }

  .customer-reviews__author {
    max-width: 650px;
  }

  .customer-reviews__button {
    margin-top: 10px;
  }
}
