.form {
  font-size: 17px;
  line-height: 18px;
}

.form__description {
  font-size: 13px;
  line-height: 24px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;

  border: none;
  margin: 0;
  padding: 0;
}

.form__filter-list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
}

.form__legend {
  margin-bottom: 24px;
  padding: 10px 0 0 0;

  font-weight: bold;
  text-transform: uppercase;
  color: $color-accent;
}

.form__filter-option {
  // margin-bottom: 22px;
}

.form__label {
  display: block;

  min-height: 26px;
  padding: 10px 10px 4px 0;

  font-weight: bold;
  color: $color-primary;

  &--radio,
  &--checkbox {
    min-height: 47px;

    padding-left: 64px;
  }
}

// Хаос в отступах, поправлю.
.form__input {
  font-family: inherit;
  font-size: inherit;

  border: none;
  border-bottom: 2px solid $color-primary-lighter;

  &--textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 134px;
    padding: 13px 20px;

    line-height: inherit;
    font-family: inherit;

    border: 2px solid $color-primary-lighter;
  }

  &--tel,
  &--email,
  &--text {
    width: 100%;

    padding: 14px 0;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $color-accent;
  }
}


.form__footnote {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}

.form__send-button {
  margin-bottom: 55px;
}
