.form {
  line-height: 18px;

  @media (max-width: $s-width-max) {
    padding-top: 10px;
  }
}

.fieldset {
  border: none;
  margin-top: 0;
  padding: 0;
}

.form .wrapper {
  @media (max-width: $m-width-max) {
    @include wrapper-padding;
  }
}


.form__description {
  @media (max-width: $s-width-max) {
    font-size: 13px;
    line-height: 24px;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__filter-list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
}


.form__legend {
  margin-bottom: 24px;
  padding: 10px 0 0 0;

  font-weight: bold;
  text-transform: uppercase;
  color: $color-accent;
}

.form__label {
  display: inline-block;

  min-height: 26px;
  padding: 10px 10px 4px 0;

  font-weight: bold;
  color: $color-primary;

  &--radio,
  &--checkbox {
    @media (max-width: $s-width-max) {
      min-height: 47px;
      padding-left: 64px;
    }
  }
}

// Хаос в отступах, поправлю.
.form__input {
  font-family: inherit;
  font-size: inherit;

  border: none;
  border-bottom: 2px solid $color-primary-lighter;
  background: transparent;

  &--textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 142px;
    padding: 13px 20px;

    line-height: inherit;
    font-family: inherit;

    border: 2px solid $color-primary-lighter;
  }

  &--tel,
  &--email,
  &--text {
    box-sizing: border-box;
    width: 100%;

    padding: 14px 0;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $color-accent;
  }
}

.form__fieldset--color {
  margin-bottom: 6px;
}

.form__fieldset--customer-name {
  margin-bottom: 10px;
  padding-top: 0;

  .form__legend {
    padding-top: 0;
    margin-bottom: 30px;
  }

  .form__label {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__input {
    margin-bottom: 22px;
    padding-top: 8px;
    padding-bottom: 16px;
  }
}

.form__container--customer-contacts {
  .form__fieldset {
    @media (max-width: $s-width-max) {
      margin-bottom: 32px;
    }
  }

  .form__legend {
    margin-bottom: 0;

    @media (max-width: $s-width-max) {
      padding-top: 0;
    }
  }

  .form__input {
    padding: 21px 0 17px 0;
  }
}

.form__fieldset--comment {
  .form__legend {
    padding-top: 0;
  }
}

.form__footnote {
  margin-bottom: 32px;

  @media (max-width: $s-width-max) {
    font-size: 14px;
    line-height: 16px;
  }
}

.form__send-button {
  padding-top: 14px;
  padding-bottom: 15px;

  @media (max-width: $s-width-max) {
    margin-bottom: 55px;
  }
}


@media (min-width: $m-width) {
  .form__description {
    @media (max-width: $m-width-max) {
      padding-top: 22px;
    }
  }

  .form__section {
    &:nth-of-type(2n) {
      background-color: $color-newtral-dark;
    }
  }

  .form__fieldset {
    flex-direction: row;
    align-items: baseline;

    background: transparent;
  }

  .form__fieldset--type {
    padding-top: 46px;
    padding-bottom: 20px;
  }

  // .form__fieldset--color,
  // .form__container--customer-contacts {
  //   background-color: $color-newtral-dark;
  // }

  .form__fieldset--color {
    padding-top: 57px;
    padding-bottom: 20px;
  }

  .form__filter-list--color {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__filter-option {
      @media (max-width: $m-width-max) {
        width: 240px;
      }
    }
  }

  .form__fieldset--customer-name {
    @media (max-width: $m-width-max) {
      margin-bottom: 8px;
    }
    padding-top: 50px;
    padding-bottom: 20px;

    .form__inputs-list {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      flex-basis: 100%;
    }

  // .form__fieldset--customer-name{
    .form__label {
      padding-right: 30px;
    }

    .form__input {
      padding-top: 10;

      @media (max-width: $m-width-max) {
        margin-bottom: 28px;
      }
    }
  }

  .form__container--customer-contacts {
    padding-top: 55px;
    padding-bottom: 14px;

    .form__fieldset {
      margin-bottom: 32px;
    }

    .form__input {
      padding-top: 7px;
    }
  }

  .form__fieldset--comment {
    padding-top: 50px;
    padding-bottom: 46px;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__description,
  .form__footnote {
    font-size: 17px;
    line-height: 30px;
  }

  .form__send-button {
    order: -1;
    align-items: baseline;

    width: 230px;
    margin-bottom: 52px;
  }

  .form__legend {
    flex-shrink: 0;
    width: 165px;
  }

  .form__label {
    &--radio,
    &--checkbox {
      @media (max-width: $m-width-max) {
        min-height: 62px;
        padding-left: 83px;
      }
    }
  }

  .form__input {
    &--text {
      flex-grow: 1;

      width: auto;
      min-width: 350px;
    }

    &:placeholder-shown {
      padding-left: 17px;
    }
  }
}

@media (min-width: $l-width) {
  .form .wrapper {
    padding-left: 112px;
    padding-right: 225px;
  }

  .form__description {
    padding-left: 115px;
  }

  .form__legend {
    width: 115px;
  }

  .form__label {
    &--radio,
    &--checkbox {
      min-height: 62px;
      padding-left: 83px;
    }
  }

  .form__input {
    &--text {
      min-width: 550px;
    }
  }

  .form__fieldset--color {
    &.wrapper {
      padding-right: 200px;
    }
  }

  .form__filter-list--color {
    .form__filter-option {
      width: 200px;
    }
  }

  // .form__container--customer-name {
  .form__fieldset--customer-name {
    margin-bottom: 0;

    .form__input {
      margin-bottom: 30px;
    }
  }

  .form__fieldset--comment {
    padding-bottom: 42px;
  }

  .form__send-button {
    margin-left: 115px;
  }
}
