.main-nav {
  color: $color-primary;
  font-weight: 600;
  line-height: 24px;
}

.main-nav__toggle {

}

.main-nav__list {
  @include reset-list-style;
}

.main-nav__item {

}

.main-nav__link {
  @include reset-link-style;
  display: inline-block;
  width: 100%;

  &:hover,
  &:focus {
    color: transparentize($color-primary, 0.4);
  }

  &:active {
    opacity: 0.3;
  }

  &--current {

  }

  &--search {

  }

  &--basket {

  }
}
