// Обертки
@mixin wrapper {
  box-sizing: border-box;
  width: $s-width;
  margin-right: auto;
  margin-left: auto;
  // outline: 1px dashed blueviolet;
  // background-color: #fff8f8;

  @media (min-width: $m-width) {
    width: $m-width;
  }

  @media (min-width: $l-width) {
    width: $l-width;
  }
}

@mixin wrapper-padding {
  // box-sizing: border-box;
  @media (max-width: $s-width-max) {
    padding-left: $s-width-padding;
    padding-right: $s-width-padding;
  }

  @media (min-width: $m-width) and (max-width: $m-width-max) {
    padding-left: $m-width-padding;
    padding-right: $m-width-padding;
  }

  @media (min-width: $l-width) {
    padding-left: $l-width-padding;
    padding-right: $l-width-padding;
  }
}

@mixin wrapper-full-width {
  margin-left: calc(-100vw / 2 + #{$s-width} / 2);
  margin-right: calc(-100vw / 2 + #{$s-width} / 2);
  // padding: 0 calc(100vw / 2 - #{$s-width} / 2);
}
//   @media (min-width: $m-width) {
//     margin: 0 calc(-100vw / 2 + #{$m-width} / 2);
//     padding: 0 calc(100vw / 2 - #{$m-width} / 2);
//   }

//   @media (min-width: $l-width) {
//     margin: 0 calc(-100vw / 2 + #{l-width} / 2);
//     padding: 0 calc(100vw / 2 - #{$l-width} / 2);
//   }
// }

// @mixin wrapper-full-width-padding {
//   margin: 0 calc(-100vw / 2 + #{$s-width} / 2);
//   padding: 0 calc(100vw / 2 - #{$s-width} / 2 + #{$s-width-padding});

//   @media (min-width: $m-width) {
//     margin: 0 calc(-100vw / 2 + #{$m-width} / 2);
//     padding: 0 calc(100vw / 2 - #{$m-width} / 2 + #{$m-width-padding});
//   }

//   @media (min-width: $l-width) {
//     margin: 0 calc(-100vw / 2 + #{$l-width} / 2);
//     padding: 0 calc(100vw / 2 - #{$l-width} / 2 + #{$l-width-padding});
//   }
// }

// Разное
@mixin reset-list-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-link-style {
  color: inherit;
  text-decoration: none;
}

@mixin reset-title-style {
  margin: 0 0 0 -2px;
  padding: 0;
  margin-top: 28px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-primary;
}

@mixin reset-title-style-m {
  margin-left: -3px;
  font-size: 43px;
  line-height: 50px;
  // text-align: center;
}

@mixin reset-title-style-l {
  margin-left: -4px;
  font-size: 53px;
  line-height: 57px;
}

@mixin title-h3 {
  font-size: 17px;
  line-height: 24px;
}

@mixin block-shadow {
  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 transparentize($color-primary, 0.9);
  }

  &:active {
    box-shadow: 0 3px 5px 0 transparentize($color-primary, 0.9);
  }
}
