.modal {
  @include wrapper-padding;

  padding-bottom: 46px;

  text-align: center;
}

.modal__title {
  font-size: 25px;
}

.modal__filter-list {
  @include reset-list-style;

  display: flex;

  margin-left: -7px;
  margin-bottom: 30px;
}

.modal__filter-option {
  flex-grow: 1;

  margin-left: 7px;
}

.modal__label {
  display: block;

  line-height: 50px;

  border: 2px solid $color-primary-lighter;

  &--current {
    border-color: $color-accent;
  }
}

@media (min-width: $m-width) {
  .modal {
    width: 350px;
    min-height: 336px;
    margin: auto;
    padding-right: 108px;
    padding-left: 108px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }
}
