.page-main-header {
  background-color: #f9f9f9;
}

.page-main-header__title-container {
  text-align: center;

  border-top: 1px solid $color-newtral-medium;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;
    background-size: 575px 373px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.page-main-header__title {
  @include reset-title-style;

  margin-top: 0;
  font-size: 27px;
  color: #010000;

  @media (max-width: $s-width-max) {
    padding: 70px 35px 76px 35px;

    &--index {
      padding-bottom: 122px;
    }
  }
}

@media (min-width: $m-width) {
  .page-main-header {
    @media (max-width: $m-width-max) {
      margin-top: -68px;
    }

    &--inner-page {
      margin-bottom: 50px;
    }
  }

  .page-main-header__wrapper,
  .page-main-header--inner-page .page-main-header__title-container {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      @media (max-width: $m-width-max) {
        bottom: -22px;
        left: 0;
        width: $m-width;
      }

      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;

      @media (max-width: $m-width-max) {
        background-size: contain;
      }
    }
  }

  .page-main-header__title {
    @include reset-title-style-m;

    @media (max-width: $m-width-max) {
      padding: 94px 55px 80px 55px;

      &--index {
        padding-top: 153px;
        padding-bottom: 372px;
      }
    }
  }

  .page-main-header__title-container {
    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-size: 1150px 746px;
      background-position: center -2px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: $l-width) {
  .page-main-header {
    margin-top: -65px;
    margin-bottom: 70px;

    &--inner-page {
      margin-bottom: 123px;
    }
  }

  .page-main-header__wrapper,
  .page-main-header--inner-page .page-main-header__title-container {
    &::after {
      bottom: -18px;
      left: -$l-width-padding;

      width: calc(#{$l-width} + #{$l-width-padding} * 2);
      background-size: cover;
    }
  }

  .page-main-header--inner-page .page-main-header__title-container {
    &::after {
      left: 0;
      width: $l-width;
    }
  }

  .page-main-header__title {
    @include reset-title-style-l;

    padding: 94px 170px 100px 170px;

    &--index {
      padding-top: 153px;
      padding-bottom: 358px;
    }
  }

  .page-main-header__title-container {
    &--index {
      background-image: url("../img/hero-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }
  }
}
