.page-footer {
  // @include wrapper-full-width-padding;
  background-color: $color-newtral-dark;
}

.page-footer__logo {
  display: none;
  width: 102px;
  height: 34px;
  margin-right: 85px;
}


.page-footer__containter {
  @include wrapper-padding;

  display: flex;
  flex-direction: column;
}

@media (min-width: $m-width) {
  .page-footer__containter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
  }
}
