.page-main-header {
  // @include wrapper-full-width-padding;
  background-color: $color-newtral-dark;
}

.page-main-header__title-container {
  text-align: center;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -15px;
    background-size: 575px 373px;
  }
}

.page-main-header__title {
  @include reset-title-style;

  font-size: 27px;
  line-height: 30px;
  font-weight: 600;
  color: #010000;

  &--index {
    padding-bottom: 122px;
  }

  @media (max-width: $s-width-max) {
    padding: 70px 35px 77px 35px;
  }
}

@media (min-width: $m-width) {
  .page-main-header {
    margin-top: -65px;
  }

  .page-main-header__title {
    @include reset-title-style-m;

    @media (max-width: $m-width-max) {
      padding: 160px 55px 77px 55px;
    }
  }
}

@media (min-width: $l-width) {
  .page-main-header {
    margin-bottom: 70px;
  }

  .page-main-header__title {
    @include reset-title-style-l;

    padding: 160px 170px 77px 170px;
  }
}
