.page-container {
  width: $s-width;
  margin: 0 auto;

  background-color: $color-newtral;
}

@media (min-width: $m-width) {
  .page-container {
    width: $m-width;
  }
}

@media (min-width: $l-width) {
  .page-container {
    width: $l-width;
  }
}
