.page-header {
  @media (max-width: $s-width-max) {
    align-items: center;
  }

  display: flex;
  flex-wrap: wrap;

  color: $color-primary;
  font-weight: 600;
  line-height: 24px;
}

.page-header__logo {
  display: flex;
  margin: 0 auto;

  @media (min-width: $s-width) and (max-width: $s-width-max) {
    min-height: 79px;
  }
}

.page-header__logo-link {
  display: flex;
  align-items: center;

  // @media (min-width: $s-width) and (max-width: $s-width-max) {
  //   margin-left: 60px;
  // }
}

.page-header__menu-toggle {
  display: none;

  @media (min-width: $s-width) and (max-width: $s-width-max) {
    margin-right: 30px;
  }

  height: 20px;
}


.page-header__list--actual-list {
  display: none;
}

.page-header__note {
  display: none;

  font-weight: 400;
  color: $color-primary-lighter;
}

@media (min-width: $m-width) {
  .page-header {
    @include wrapper-padding;

    align-items: stretch;
  }

  .page-header__logo {
    @media (max-width: $m-width-max) {
      margin-left: 0;
      // height: 46px;
    }
    order: -2;
    justify-content: flex-start;

    height: 88px;
    // width: 300px;
    padding-left: 0;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__list--site-list {
    @media (max-width: $m-width-max) {
      max-width: 430px;
    }
  }

  .page-header__list--user-list {
    justify-content: flex-end;
    order: -1;

    width: 370px;
  }

  .page-header__note {
    @media (max-width: $m-width-max) {
      width: 230px;
    }

    display: block;

    max-height: 34px;
    margin-left: auto;

    font-size: 15px;
    overflow: hidden;
  }
}

@media (min-width: $l-width) {
  .page-header__logo {
    justify-content: center;

    width: 149px;
    // height: 88px;
    padding-right: 40px;
  }

  .page-header__list--site-list {
    order: -3;
    width: 410px;
  }

  // .page-header__list--user-list {
  //   padding-left: 60px;
  // }

  .page-header__list--actual-list {
    // display: block;
    min-height: 60px;
  }

  .page-header__note {
    max-width: 340px;
  }
}
