.page-footer {
  background-color: $color-newtral-dark;
}

.page-footer__logo {
  display: none;
  width: 102px;
  height: 34px;
  margin-right: 80px;
}


.page-footer__containter {
  @include wrapper-padding;

  display: flex;
  flex-direction: column;
}

.page-footer__copywrite {
  @media (max-width: $s-width-max) {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid $color-newtral-medium;
  }
}

@media (min-width: $m-width) {
  .page-footer {
    padding-top: 13px;
    padding-bottom: 10px;
  }

  .page-footer__containter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;

    padding-bottom: 6px;
  }
}
