.site-list {
  @include reset-list-style;

  @media (max-width: $s-width-max) {
    width: 100%;
  }
}

.site-list__item {
  @media (max-width: $s-width-max) {
    border-top: 1px solid $color-newtral-medium;

    // &:first-child {
    //   border-top: 1px solid $color-newtral-medium;
    // }
  }

  overflow: hidden;
}

.site-list__link {
  @include reset-link-style;

  display: block;

  @media (max-width: $s-width-max) {
    padding: 26px 30px 28px 76px;

    // border-bottom: 1px solid $color-newtral-medium;
  }

  &:hover,
  &:focus {
    color: transparentize($color-primary, 0.4);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $m-width) {
  .site-list {
    @media (max-width: $m-width-max) {
      font-size: 15px;
    }

    display: flex;
  }

  .site-list__item {
    display: flex;
    align-items: center;

    @media (max-width: $m-width-max) {
      height: 65px;
      max-height: 64px;
    }

    .site-list__link {
      max-width: 215px;
    }
  }

  .site-list__item:not(:first-child) {
    margin-left: 35px;
  }
}

@media (min-width: $l-width) {
  .site-list__item {
    min-height: 88px;
  }

  .site-list__link {
    width: 185px;
  }
}
