.slider__controls {
  display: flex;
}

.slider__control {
  @include reset-link-style;

  flex-grow: 1;

  min-width: 130px;
  min-height: 52px;

  border: 1px solid $color-newtral-medium;
}

.slider__control--left {
  margin-right: -1px;
}

@media (min-width: $m-width) {
  .slider__control {
    min-width: 88px;

    border: none;
  }
}
