.social__list {
  @include reset-list-style;

  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;

  line-height: 0;
}

.social__item {

  margin: 15px;
}

.social__link {
  @include reset-link-style;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  &:hover,
  &:focus {
    .social__icon {
      fill: $color-accent-darker-active;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }
}
