.special-offer {
  @include wrapper-padding;
}

.special-offer__list {
  @include reset-list-style;
}

.special-offer__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.special-offer__title {
  @include reset-title-style;

  z-index: 10;

  @media (max-width: $s-width-max) {
    margin-bottom: 4px;
  }
}

.special-offer__status {
  font-size: 17px;
  line-height: 20px;
  color: $color-accent;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $s-width-max) {
    margin-bottom: 22px;
  }
}

.special-offer__description {
  margin: 0 0 18px 0;

  line-height: 24px;
}

.special-offer__attributes {
  width: 100%;
  margin-bottom: 28px;

  line-height: 20px;

  border-collapse: collapse;
}

.special-offer__attribute {
  border-bottom: 1px solid $color-newtral-medium;
}

.special-offer__attribute-label {
  // width: 85px;
  padding: 10px 0;

  &:first-child {
    width: 97px;
  }
}

//
// .special-offer__image-container {
//   @media (max-width: $s-width-max) {
//     margin-bottom: 6px;
//   }
// }

.special-offer__price {
  @media (max-width: $s-width-max) {
    margin-top: 14px;
    margin-bottom: 27px;
  }

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.special-offer__order {
  @media (max-width: $s-width-max) {
    margin-bottom: 42px;
  }
}

@media (min-width: $m-width) {
  .special-offer {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      @media (max-width: $m-width-max) {
        bottom: 2px;
        left: 0;
        width: $m-width;
        height: 16px;
      }

      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: contain;

      transform: scale(1, -1);
    }
  }

  .special-offer__item {
    flex-direction: row;
  }

  .special-offer__title {
    @include reset-title-style-m;

    @media (max-width: $m-width-max) {
      padding-top: 48px;
      padding-bottom: 46px;
    }

    align-self: center;

    width: 520px;
    margin: 0 auto 0 0;
  }

  .special-offer__status {
    align-self: center;

    width: 100px;
    padding: 7px 12px 0 30px;

    line-height: 17px;
    text-align: center;
  }

  .special-offer__about {
    width: 292px;
    margin-right: auto;
  }

  .special-offer__description {
    margin-bottom: 35px;

    line-height: 30px;
  }

  .special-offer__image-container {
    margin-top: 10px;
    margin-bottom: -131px;
  }

  .special-offer__image {
    display: block;

    width: 333px;
    height: 404px;
  }

  .special-offer__shop {
    width: 292px;
  }

  .special-offer__price {
    margin-bottom: 35px;

    font-size: 20px;
  }

  .special-offer__order {
    margin-bottom: 70px;
  }
}

@media (min-width: $l-width) {
  .special-offer {
    padding-bottom: 30px;

    &::after {
      bottom: 3px;
      left: $l-width-padding;

      width: calc(#{$l-width} - #{$l-width-padding} * 2);
      height: 22px;
    }
  }

  .special-offer__list {
    padding-top: 6px;
  }

  .special-offer__item {
    padding-left: $l-width-padding-left;
  }

  .special-offer__title {
    @include reset-title-style-l;

    width: 800px;
    // height: 150px;
    padding-top: 50px;
    padding-bottom: 48px;

    font-size: 53px;
  }

  .special-offer__status {
    order: -1;

    margin-left: -175px;
    padding-right: 40px;
  }

  .special-offer__description {
    margin-bottom: 45px;
  }

  .special-offer__image-container {
    margin-top: -160px;
  }

  .special-offer__image {
    width: 525px;
    height: 636px;
  }

  .special-offer__order {
    margin-bottom: 68px;
  }
}
