.sub-nav-list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
}

.sub-nav-list__item {
  flex-grow: 1;
}

.sub-nav-list__link {
  @include reset-link-style;

  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 25px 30px 30px 30px;

  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: $color-newtral;

  background-color: $color-accent;

  &:hover,
  &:focus {
    // background-color: satu­rat­e($­color-accent, 6%);
  }

  &:active {
    color: transparentize($color-newtral, 0.7);
  }

  &--toys {
    // background-color: darken(desaturate(adjust-hue($color-accent, 3%), 6), 5);
    background-color: $greeny-blue;
  }
}

.sub-nav-list__title {
  display: inline-block;
  max-width: 160px;

  font-size: 20px;
  line-height: 30px;
}

@media (min-width: $m-width) {
  .sub-nav-list {
    @include wrapper-padding;

    flex-direction: row;
  }
}
