.sub-nav-list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
}

.sub-nav-list__item {
  flex-grow: 1;
}

.sub-nav-list__link {
  @include reset-link-style;

  @media (max-width: $s-width-max) {
    padding: 25px 110px 30px 30px;
  }

  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: $color-newtral;

  background-color: $color-accent;

  &:hover,
  &:focus {
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: $color-accent-active;

    box-shadow: 0 -5px 0 0 $color-accent-active;
  }

  &:active {
    color: transparentize($color-newtral, 0.7);
  }

  &--toys {
    background-color: $color-accent-darker;

    &:hover,
    &:focus {
      background-color: $color-accent-darker-active;

      box-shadow: 0 -5px 0 0 $color-accent-darker-active;
    }
  }
}

.sub-nav-list__title {
  display: inline-block;
  max-width: 160px;
}

@media (min-width: $m-width) {
  .sub-nav-list {
    @include wrapper-padding;

    flex-direction: row;
  }

  .sub-nav-list__item {
    display: flex;
    width: 50%;
  }

  .sub-nav-list__link {
    padding: 30px 130px 40px 35px;

    &:hover,
    &:focus {
      padding-top: 25px;
      padding-bottom: 45px;
    }
  }
}
