.sub-nav-list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
}

.sub-nav-list__item {
  flex-grow: 1;
}

.sub-nav-list__link {
  @include reset-link-style;

  @media (max-width: $s-width-max) {
    padding: 25px 110px 30px 30px;
    line-height: 24px;
  }

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  font-size: 19px;
  font-weight: 700;
  color: $color-newtral;

  &::after {
    content: "";
    position: absolute;

    @media (max-width: $s-width-max) {
      top: calc(50% - 30px);
    }

    opacity: 0.5;

    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    padding-top: 20px;
    padding-bottom: 35px;

    box-shadow: 0 -5px 0 0 $color-accent-active;

    &::after {
      opacity: 0.7;
      transform: translateY(-5px);
    }
  }

  &:active {
    color: transparentize($color-newtral, 0.7);

    &::after {
      opacity: 0.3;
    }
  }

  &--decoration {
    background-color: $color-accent;

    &::after {
      right: 36px;

      width: 40px;
      height: 62px;

      background-image: url("../img/icon-interior.svg");
    }

    &:hover,
    &:focus {
      background-color: $color-accent-active;
    }
  }

  &--toys {
    background-color: $color-accent-darker;

    &::after {
      @media (max-width: $s-width-max) {
        right: 27px;
      }

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-toy.svg");
    }

    &:hover,
    &:focus {
      background-color: $color-accent-darker-active;

      box-shadow: 0 -5px 0 0 $color-accent-darker-active;
    }
  }
}

.sub-nav-list__title {
  display: inline-block;
  max-width: 150px;
}

@media (min-width: $m-width) {
  .sub-nav-list {
    @include wrapper-padding;

    flex-direction: row;
  }

  .sub-nav-list__item {
    display: flex;
    width: 50%;
  }

  .sub-nav-list__link {
    padding: 28px 130px 30px 35px;

    &::after {
      top: calc(50% - 28px);
    }

    &:hover,
    &:focus {
      padding-top: 23px;
      padding-bottom: 33px;
    }

    &--toys {
      &::after {
        right: 34px;
      }
    }
  }
}
