// Брейкпоинты
$s-width: 320px;
$s-width-max: 767px;
$s-width-padding: 30px;

$m-width: 768px;
$m-width-max: 1149px;
$m-width-padding: 50px;

$l-width: 1150px;
$l-width-padding: 50px;
$l-width-padding-left: 175px;

// Серый фон #F1F1F1

$black: hsl(0, 0%, 0%);
$greyish-brown: #444444;
$seafoam-blue: hsl(168, 54%, 60%);
$greeny-blue: hsl(171, 48%, 55%);
$white: hsl(0, 0%, 100%);

$color-primary: $black;
$color-primary-lighter: $greyish-brown;
$color-accent: $seafoam-blue;
$color-accent-darker: $greeny-blue;
$color-newtral: $white;

// для фонов
// $color-newtral-dark: mix(white, $color-primary, 95%);
$color-newtral-dark: #f1f1f1;

// для линеек и отбивок
$color-newtral-medium: mix(white, $color-primary, 93%);
