// Брейкпоинты
// переделать максимальные на ограниченные s-width-only
$s-width: 320px;
$s-width-max: 767px;
$s-width-padding: 30px;

$m-width: 768px;
$m-width-max: 1149px;
$m-width-padding: 50px;

$l-width: 1150px;
$l-width-padding: 50px;
$l-width-padding-left: 175px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Серый фон #F1F1F1

$black: hsl(0, 0%, 0%);
$greyish-brown: #444444;
$seafoam-blue: hsl(168, 54%, 60%);
$seafoam-blue-active: #59d5bc;
$greeny-blue: hsl(171, 48%, 55%);
$greeny-blue-active: #46c1ae;
$white: hsl(0, 0%, 100%);

$color-primary: $black;
$color-primary-lighter: $greyish-brown;
$color-accent: $seafoam-blue;
$color-accent-active: $seafoam-blue-active;
$color-accent-darker: $greeny-blue;
$color-accent-darker-active: $greeny-blue-active;
$color-newtral: $white;

// для фонов
// $color-newtral-dark: mix(white, $color-primary, 95%);
$color-newtral-dark: #f1f1f1;

// для линеек и отбивок
// $color-newtral-medium: mix(white, $color-primary, 93%);
$color-newtral-medium: #ececec;

// для обводки попапов
$color-newtral-darkest: #c6c6c6;

// Для иконок в подменю
$blue-green: #149080;
