// $seafoam-blue: #63d1bb; hsl(168, 54%, 60%);
// hsl(168, 60%, 59%);
// $greeny-blue: #56c3b2; hsl(171, 48%, 55%);
//
// rgb(85, 195, 179);

// потемнее hsl(171, 50%, 52%); #47c2af
// rgb(71, 194, 175);
// $black: hsl(0,0%,0%);
// $dark-grey: hsl(0, 0%, 27%);

// $one-more-blue #62d1ba hsl(168, 55%, 60%);
//
// $base-colour: $black;
// $black: hsl(0,0%,0%);

// Серый фон #F1F1F1

$black: hsl(0, 0%, 0%);
$greyish-brown: #444444;
$seafoam-blue: hsl(168, 54%, 60%);
$greeny-blue: hsl(171, 48%, 55%);
$white: hsl(0, 0%, 100%);


$color-primary: $black;
$color-primary-lighter: $greyish-brown;
$color-accent: $seafoam-blue;
$color-accent-darker: $greeny-blue;
$color-newtral: $white;

// для фонов
$color-newtral-dark: mix(white, $color-primary, 95%);

// для линеек и отбивок
$color-newtral-medium: mix(white, $color-primary, 93%);
